#!/usr/bin/env bash
export ROLE="${role}"
export KUBE_VERSION="${kube_version}"
export CONTAINERD_VERSION="${containerd_version}"
export HTTP_PROXY="${http_proxy}"
export HTTPS_PROXY="${https_proxy}"
export NO_PROXY="${no_proxy}"

bash ${script_path}
